<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add New Comment to <%= campgrounds.name %></h1>
              <form action="/campgrounds/<%= campgrounds._id %>/comments" method="POST">
                  <div class="form-group">
                      <label for="text">Comment:</label>
                      <input class="form-control" id="text" type="text" name="comment[text]" placeholder="text">
                  </div>
                  <div class="form-group">
                      <fieldset class="starability-basic">
                        <legend>Rating:</legend>

                        <input type="radio" id="rate1" name="comment[rating]" value="1" />
                        <label for="rate1" title="Terrible">1 star</label>

                        <input type="radio" id="rate2" name="comment[rating]" value="2" />
                        <label for="rate2" title="Not good">2 stars</label>

                        <input type="radio" id="rate3" name="comment[rating]" value="3" />
                        <label for="rate3" title="Average">3 stars</label>

                        <input type="radio" id="rate4" name="comment[rating]" value="4" />
                        <label for="rate4" title="Very good">4 stars</label>

                        <input type="radio" id="rate5" name="comment[rating]" value="5" />
                        <label for="rate5" title="Amazing">5 stars</label>
                      </fieldset>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                  </div>
              </form>
            <a href="/campgrounds">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>

