<% include partials/header %>

<div class="container">
  <form class="form-signin" action="/register" method="post">
    <h2 class="form-signin-heading">Sign Up</h2>
    <input class="form-control" type="text" name="username" placeholder="username">
    <input class="form-control" type="password" name="password" placeholder="password">
    <button class="btn btn-lg btn-primary btn-block">Submit</button>
  </form>  
</div>

<% include partials/footer %>