legend{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 600;
}
.row.text-center .thumbnail img{
	object-fit: cover;
	width: 100%;
	height: 150px;
}
.row.text-center .thumbnail{
	border: 0px;
  padding: 0;
	height: 250px;
}
.thumbnail img{
  width: 100%;
}
.thumbnail{
  padding: 0;
}
div.caption{
	padding: 0;
	margin: 0;
	height: 60px;
}
div.caption>h4{
	padding: 0px auto;
	margin: 0;
}
.caption-full{
  padding: 9px;
}

#delete-form{
  display: inline;
}

.form-group{
  padding: 20px;
}

.form-control{
  margin-bottom: 20px;
}

#newCamp{
  width: 50%; 
	margin: 10px auto;
}

#newCamp .form-group, h1{
	padding: 0.6em;
}

#newCamp h3>a{
	border-radius: 5px;
	background: #F8F8FF;
	color: black;
}

.navbar-default, header.jumbotron{
  z-index: 1;
  background: rgba(0,0,0,0.1);
  border: 0px;
}

.navbar-default .navbar-nav>li>a, .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  color: black;
  font-size: 17px;
  margin: auto 0px;
  padding: 10px auto;
}

.navbar-default .navbar-nav>li>a:hover{
  border-bottom: 1px solid rgb(119,136,153);
  padding-bottom: 9px;
  cursor: pointer;
}
.navbar-default .navbar-brand:hover{
  color: #000;
  padding-bottom: 9px;
  cursor: pointer;
}

div.caption>h4{
  color: black;
  font-weight: 500;
}

body{
	padding-top: 65px;
  font-family: 'Lato', sans-serif;
}